<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-10-03T14:29:40Z</date>
	<key>WorkspacePath</key>
	<string>/Users/Worker/Desktop/GRIBOV/test_iOS2/iOS/test2/test2.xcodeproj</string>
</dict>
</plist>
